{extend name="layout" /}
{block name="content"}
<div class="search-form">
    <div class="layui-inline">
        <div class="layui-btn-group">
            <a href="/stock/warning?type=all" class="layui-btn {if $type=='all'||$type==''}layui-btn-normal{else}layui-btn-primary{/if}">全部</a>
            <a href="/stock/warning?type=low" class="layui-btn {if $type=='low'}layui-btn-normal{else}layui-btn-primary{/if}">低于最小库存</a>
            <a href="/stock/warning?type=high" class="layui-btn {if $type=='high'}layui-btn-normal{else}layui-btn-primary{/if}">高于最大库存</a>
        </div>
    </div>
    <div class="layui-inline layui-right">
        <button class="layui-btn layui-btn-primary" onclick="exportWarning()"><i class="layui-icon layui-icon-export"></i> 导出</button>
    </div>
</div>
<table id="warning-table" lay-filter="warningTable"></table>

<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-xs" lay-event="threshold">编辑阈值</a>
</script>
{/block}

{block name="script"}
<script>
var warningList = {:json_encode($list, JSON_UNESCAPED_UNICODE)};

layui.use(['table'], function(){
    var table = layui.table;
    table.render({
        elem: '#warning-table',
        data: warningList,
        cols: [[
            {field: 'id', title: 'ID', width: 60},
            {field: 'name', title: '名称', width: 140},
            {field: 'barcode', title: '条码', width: 120},
            {field: 'cate', title: '分类', width: 80},
            {field: 'stock', title: '当前库存', width: 90},
            {field: 'stock_min', title: '库存下限', width: 90},
            {field: 'stock_max', title: '库存上限', width: 90},
            {title: '操作', toolbar: '#toolbar', width: 80}
        ]],
        page: false,
        done: function(res){
            res.data.forEach(function(item, i){
                $('.layui-table-body tbody tr').eq(i).css('background-color', '#FFF0F0');
            });
        }
    });

    table.on('tool(warningTable)', function(obj){
        if (obj.event === 'threshold') {
            openThresholdEdit(obj.data);
        }
    });
});

window.exportWarning = function(){
    var type = new URLSearchParams(location.search).get('type') || 'all';
    location.href = '/stock/warningExport?type=' + type;
};

window.openThresholdEdit = function(data){
    var html = '<div style="padding:20px;">\
        <div class="layui-form-item"><label class="layui-form-label">商品</label><div class="layui-input-block" style="line-height:36px;">' + data.name + '</div></div>\
        <div class="layui-form-item"><label class="layui-form-label">库存下限</label><div class="layui-input-block"><input type="number" name="stock_min" value="'+(data.stock_min||'')+'" class="layui-input"></div></div>\
        <div class="layui-form-item"><label class="layui-form-label">库存上限</label><div class="layui-input-block"><input type="number" name="stock_max" value="'+(data.stock_max||'')+'" class="layui-input"></div></div>\
    </div>';
    layer.open({
        type: 1, title: '编辑预警阈值', area: ['400px', '270px'], content: html,
        btn: ['保存', '取消'],
        yes: function(index, layero){
            var form = layui.$(layero);
            $.post('/stock/updateThreshold', {
                id: data.id,
                stock_min: form.find('[name=stock_min]').val(),
                stock_max: form.find('[name=stock_max]').val()
            }, function(res){
                if (res.code === 0) { layer.msg(res.msg, {icon:1}); setTimeout(function(){ location.reload(); }, 500); }
                else layer.msg(res.msg, {icon:2});
            });
            layer.close(index);
        }
    });
};
</script>
{/block}
